$primary: #375ABB;
$gray: #999999;
$green: #008744;
$blue: #0057e7;
$red: #d62d20;
$yellow: #ffa700;
$white: #eee;
// Body
$body-bg: #ffffff;

// Typography
// $font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$text-color: #333333;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Panels
$panel-default-heading-bg: #fff;

//colors
$brand-primary-dark: #8d006b;
$brand-primary: #a1448a;
$brand-primary-light: #ce80ba;
$brand-primary-lighter: #f2a7df;
