// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    font-size: 1rem;
    background: #fafafa;
    font-family: 'Open Sans', sans-serif;

    .quote {
        font-size: 1.1rem;
    }
}

.home-hero {
    height: 600px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    h1 {
        font-size: 72px;
        color: #ffffff;
    }

    h2 {
        font-size: 22px;
        color: #ffffff;
    }
}

.about-hero {
    overflow: hidden;
    height: 400px;
    background-image: url("/images/comp/about1.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    h2 {
        color: #333;
        text-transform: uppercase;
    }

    .divider {
        position: absolute;
        width: 100%;
        bottom: 0;
    }
}

.contact-hero {
    overflow: hidden;
    height: 400px;
    background-image: url("/images/hero6.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    h2 {
        color: #ffffff;
        text-transform: uppercase;
    }

    .divider {
        position: absolute;
        width: 100%;
        bottom: 0;
    }

    .card {
        padding: 1.5rem;
        flex: 1 1 auto;
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, .125);
        border-radius: .625rem;
        margin-bottom: 2rem;
        box-shadow: 0 0 0 #fff;

        &:hover {
            box-shadow: .5rem .5rem 0 rgba(233, 236, 239, .5);
            transform: translate3d(-4px, -4px, 0) rotateZ(-1deg);
            transition: background-color .1s ease, color .1s ease, box-shadow .1s ease, transform .1s ease;
        }
    }
}

.divider {
    svg {
        background: 0 0 !important;
        height: 10vw;
        fill: $body-bg;
        position: relative;
        top: 1px;
    }
}

.why-company {
    .card {
        padding: 1.5rem;
        flex: 1 1 auto;
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, .125);
        border-radius: .625rem;
        margin-bottom: 2rem;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.23);

        span {
            font-size: 18px;
            color: #999;
        }

        .card-img-top {
            width: 100%;
            border-top-left-radius: calc(.625rem - 1px);
            border-top-right-radius: calc(.625rem - 1px);
        }
    }
}

.team {
    .card {
        padding: 1.5rem;
        flex: 1 1 auto;
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, .125);
        border-radius: .625rem;
        margin-bottom: 2rem;
        box-shadow: 0 0 0 #fff;

        &:hover {
            box-shadow: .5rem .5rem 0 rgba(233, 236, 239, .5);
            transform: translate3d(-4px, -4px, 0) rotateZ(-1deg);
            transition: background-color .1s ease, color .1s ease, box-shadow .1s ease, transform .1s ease;
        }

        .badge-top {
            font-weight: 400;
            position: absolute;
            top: -.75rem;
            bottom: auto;
        }
    }
}

.hover-shadow-3d {
    border-radius: .625rem !important;

    &:hover {
        box-shadow: .5rem .5rem 0 rgba(233, 236, 239, .5);
        transform: translate3d(-4px, -4px, 0) rotateZ(-1deg);
        transition: background-color .1s ease, color .1s ease, box-shadow .1s ease, transform .1s ease;
    }
}

select {
    border-color: #bababa !important;
    outline: none !important;
    box-shadow: 0 0 0 0 !important;
}

input {
    border-color: #bababa !important;
    outline: none !important;
    box-shadow: 0 0 0 0 !important;
}

@include media-breakpoint-up(sm) {
    body {
        font-size: 1rem;

        .quote {
            font-size: 1.3rem;
        }
    }
}

@include media-breakpoint-up(md) {
    body {
        font-size: 1.1rem;

        .quote {
            font-size: 1.4rem;
        }
    }
}

@include media-breakpoint-up(lg) {
    body {
        font-size: 1.2rem;

        .quote {
            font-size: 1.5rem;
        }

        .card-container {
            align-self: center;
            justify-content: center;
            overflow: hidden;
        }
    }
}

@media (max-width: 350px) {
    .footer-main {
        font-size: 0.7rem !important;
    }

}

.navbar {
    font-size: 1.2rem;
    padding: 0 1rem;

    .nav-link {
        transition: 0.5s all;

        &:hover {
            color: $primary !important;
        }
    }

    .navbar-collapse {
        background: #fafafa;
    }
}

.drawer {
    position: absolute;
    background-color: white;
    width: 100%;
    min-height: 100%;
    top: 0px;
    max-width: 300px;
    border-radius: 0px;
    left: 0px;
    font-size: 1.2rem;
    padding: 15px;

    .nav-link {
        transition: 0.5s all;
        color: $text-color;

        &:hover {
            color: $brand-primary-dark !important;
        }
    }

    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        margin-left: -15px;
        padding: 0 15px;
        height: 100px;
        background: #eee;
        display: flex;
        align-items: center;
    }
}

.quote {
    text-transform: uppercase;
    font-size: 1.5rem;
    color: $text-color;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 10px;

    &::before {
        content: "\201C";
        font-size: 2rem;
        position: relative;
        left: -.5%;
    }
}

.card {
    background-color: #fff;

    .btn {
        white-space: inherit;
        text-align: left;
    }
}


.card-container {
    flex-direction: row;
    display: flex;
    margin-top: -115px;
    width: 100%;
    overflow: auto;
    padding-bottom: 10px;

    .card {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width: 200px;
        max-width: 200px;
        padding: 15px;
        margin-top: 10px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.19), 0 4px 4px rgba(0, 0, 0, 0.23);

        p {
            margin-top: 15px;
            font-size: 16px;
            color: #999999;
            font-weight: 300;
        }
    }
}

.footer-main {
    width: 100%;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-top: 1px solid #c7c7c7;
    background: #eee;
    align-items: center;
    padding: 0 15px;
    color: $text-color;
    font-size: 14px;
    justify-content: space-between;

    .bd-right {
        border-right: 1px solid #999999;
        padding-right: 10px;
        padding-left: 10px;
    }

    .link {
        transition: 0.5s all;
        color: $text-color;

        &:hover {
            color: $brand-primary-dark !important;
        }
    }

    .social-links {
        font-size: 20px;

        a {
            color: $text-color;
        }
    }
}

@function calculateRem($size) {
    $remSize: $size / 16px;
    @return $remSize * 1rem;
}

@mixin font-size($size) {
    font-size: $size;
    font-size: calculateRem($size);
}

// mixins - border radius

@mixin border-radius($radius:.25em) {
    border-radius: $radius;
}

.box-shadow-ak {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

// 404 page
.loader-container {
    background: url(/images/404.jpg) center bottom;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-family: Roboto, sans-serif;

    .content {
        color: #fff;
        opacity: 0.3;
        text-align: center;
        user-select: none;
    }

    .title {
        font-size: 20vh;
        font-weight: 900;
        opacity: 0.5;
    }

    .subtitle {
        font-size: 6vh;
        font-weight: 600;
        padding-bottom: 2vh;
    }

    .description {
        font-size: 2vh;
        padding-bottom: 4vh;
    }
}

// //the cloud animation
// @keyframes move_wave {
//     0% {
//         transform: translateX(0) translateZ(0) scaleY(1);
//     }

//     50% {
//         transform: translateX(-25%) translateZ(0) scaleY(0.55);
//     }

//     100% {
//         transform: translateX(-50%) translateZ(0) scaleY(1);
//     }
// }

// .waveWrapper {
//     overflow: hidden;
//     position: absolute;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     top: 0;
//     margin: auto;
//     z-index: 0;
// }

// .waveWrapperInner {
//     position: absolute;
//     width: 100%;
//     overflow: hidden;
//     height: 100%;
//     bottom: -1px;
// }

// .bgTop {
//     z-index: 15;
//     opacity: 0.5;
// }

// .bgMiddle {
//     z-index: 10;
//     opacity: 0.75;
// }

// .bgBottom {
//     z-index: 5;
// }

// .wave {
//     position: absolute;
//     left: 0;
//     width: 200%;
//     height: 100%;
//     background-repeat: repeat no-repeat;
//     background-position: 0 bottom;
//     transform-origin: center bottom;
// }

// .waveTop {
//     background-size: 55% 110px;
// }

// .waveAnimation .waveTop {
//     animation: move-wave 3s;
//     -webkit-animation: move-wave 3s;
//     -webkit-animation-delay: 1s;
//     animation-delay: 1s;
// }

// .waveMiddle {
//     background-size: 50% 120px;
// }

// .waveAnimation .waveMiddle {
//     animation: move_wave 10s linear infinite;
// }

// .waveBottom {
//     background-size: 50% 100px;
// }

// .waveAnimation .waveBottom {
//     animation: move_wave 15s linear infinite;
// }

.m-content-wi {
    position: relative;
    margin-bottom: 1rem;

    @media (min-width: 768px) {
        &::before {
            content: "";
            display: block;
            background-color: #eff2f2;
            height: 100%;
            top: 0;
            float: left;
            width: 60%;
            position: absolute;
        }

        &--right {
            &::before {
                left: 0;
            }
        }

        &--left {
            &::before {
                right: 0;
            }
        }
    }

    &__header {
        padding-top: 7rem;
        padding-bottom: 7rem;
        min-height: 42rem;
    }

    &__intro {
        line-height: 1.8rem;
        font-size: 0.9rem
    }

    &__image {
        max-width: none;
        margin-top: -4rem;
        position: relative;

        @media (min-width: 768px) {
            position: absolute;
            margin-top: 6rem;
            margin-bottom: 10.1rem;
            // height: calc(100% - 12.2rem);
            width: 100%;
        }

        img {
            height: auto;
            width: 100%;
        }
    }

    .list {
        columns: 2;
        padding: 15px;
    }
}

// react carousel styling 
/********************************************
	BREAKPOINT WIDTHS
********************************************/
/********************************************
	FONTS
********************************************/
/********************************************
	COLOURS
********************************************/
.carousel .control-arrow,
.carousel.carousel-slider .control-arrow {
    -webkit-transition: all 0.25s ease-in;
    -moz-transition: all 0.25s ease-in;
    -ms-transition: all 0.25s ease-in;
    -o-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in;
    opacity: 0.4;
    filter: alpha(opacity=40);
    position: absolute;
    z-index: 2;
    top: 20px;
    background: none;
    border: 0;
    font-size: 32px;
    cursor: pointer;
}

.carousel .control-arrow:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.carousel .control-arrow:before,
.carousel.carousel-slider .control-arrow:before {
    margin: 0 5px;
    display: inline-block;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    content: '';
}

.carousel .control-disabled.control-arrow {
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: inherit;
    display: none;
}

.carousel .control-prev.control-arrow {
    left: 0;
}

.carousel .control-prev.control-arrow:before {
    border-right: 8px solid #fff;
}

.carousel .control-next.control-arrow {
    right: 0;
}

.carousel .control-next.control-arrow:before {
    border-left: 8px solid #fff;
}

.carousel {
    position: relative;
    width: 100%;
}

.carousel * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.carousel img {
    width: 100%;
    display: inline-block;
    pointer-events: none;
}

.carousel .carousel {
    position: relative;
}

.carousel .control-arrow {
    outline: 0;
    border: 0;
    background: none;
    top: 50%;
    margin-top: -13px;
    font-size: 18px;
}

.carousel .thumbs-wrapper {
    margin: 20px;
    overflow: hidden;
}

.carousel .thumbs {
    -webkit-transition: all 0.15s ease-in;
    -moz-transition: all 0.15s ease-in;
    -ms-transition: all 0.15s ease-in;
    -o-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    position: relative;
    list-style: none;
    white-space: nowrap;
}

.carousel .thumb {
    -webkit-transition: border 0.15s ease-in;
    -moz-transition: border 0.15s ease-in;
    -ms-transition: border 0.15s ease-in;
    -o-transition: border 0.15s ease-in;
    transition: border 0.15s ease-in;
    display: inline-block;
    width: 80px;
    margin-right: 6px;
    white-space: nowrap;
    overflow: hidden;
    border: 3px solid #fff;
    padding: 2px;
}

.carousel .thumb:focus {
    border: 3px solid #ccc;
    outline: none;
}

.carousel .thumb.selected,
.carousel .thumb:hover {
    border: 3px solid #333;
}

.carousel .thumb img {
    vertical-align: top;
}

.carousel.carousel-slider {
    position: relative;
    margin: 0;
    overflow: hidden;
}

.carousel.carousel-slider .control-arrow {
    top: 0;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    margin-top: 0;
    padding: 5px;
}

.carousel.carousel-slider .control-arrow:hover {
    background: rgba(0, 0, 0, 0.2);
}

.carousel .slider-wrapper {
    overflow: hidden;
    margin: auto;
    width: 100%;
    -webkit-transition: height 0.15s ease-in;
    -moz-transition: height 0.15s ease-in;
    -ms-transition: height 0.15s ease-in;
    -o-transition: height 0.15s ease-in;
    transition: height 0.15s ease-in;
}

.carousel .slider-wrapper.axis-horizontal .slider {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
}

.carousel .slider-wrapper.axis-horizontal .slider .slide {
    flex-direction: column;
    flex-flow: column;
}

.carousel .slider-wrapper.axis-vertical {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
}

.carousel .slider-wrapper.axis-vertical .slider {
    -webkit-flex-direction: column;
    flex-direction: column;
}

.carousel .slider {
    margin: 0;
    padding: 0;
    position: relative;
    list-style: none;
    width: 100%;
}

.carousel .slider.animated {
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.carousel .slide {
    min-width: 100%;
    margin: 0;
    position: relative;
    text-align: center;
    background: #000;
}

.carousel .slide img {
    width: 100%;
    vertical-align: top;
    border: 0;
}

.carousel .slide iframe {
    display: inline-block;
    width: calc(100% - 80px);
    margin: 0 40px 40px;
    border: 0;
}

.carousel .slide .legend {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(0%, 50%);
    margin-left: -45%;
    width: 50%;
    border-radius: 10px;
    background: #333;
    color: #f5f5f5;
    padding: 12px;
    font-size: 12px;
    text-align: center;
    opacity: 0.85;
    -webkit-transition: opacity 0.35s ease-in-out;
    -moz-transition: opacity 0.35s ease-in-out;
    -ms-transition: opacity 0.35s ease-in-out;
    -o-transition: opacity 0.35s ease-in-out;
    transition: opacity 0.35s ease-in-out;
}

.carousel .control-dots {
    position: absolute;
    bottom: 0;
    margin: 10px 0;
    text-align: center;
    width: 100%;
}

@media (min-width: 960px) {
    .carousel .control-dots {
        bottom: 0;
    }
}

.carousel .control-dots .dot {
    -webkit-transition: opacity 0.25s ease-in;
    -moz-transition: opacity 0.25s ease-in;
    -ms-transition: opacity 0.25s ease-in;
    -o-transition: opacity 0.25s ease-in;
    transition: opacity 0.25s ease-in;
    opacity: 0.3;
    filter: alpha(opacity=30);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
    background: #fff;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    cursor: pointer;
    display: inline-block;
    margin: 0 8px;
}

.carousel .control-dots .dot.selected,
.carousel .control-dots .dot:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.carousel .carousel-status {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    font-size: 10px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
    color: #fff;
}

.carousel:hover .slide .legend {
    opacity: 1;
}
